<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/event.css">
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.bundle.min.js" integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <%- include('./includes/navigation.ejs') %>
    <div class="container" style="color:darkgreen">
        <h1>Add New Event</h1>
    </div>
    <div class="container">
        <form action="/add-event" enctype="multipart/form-data" method="POST">
            <div class="form-group">
                <label for="event_name">Event Name</label>
                <input class="form-control" type="text" 
                    id="event_name" name="event_name" placeholder="Event Name">
            </div>
            <div class="form-group">
                <label for="start_date">Start Date</label>
                <input class="form-control" type="date" 
                    id="start_date" name="start_date" placeholder="Start Date">
            </div>
            <div class="form-group">
                <label for="end_date">End Date</label>
                <input class="form-control" type="date" 
                    id="end_date" name="end_date" placeholder="Start Date">
            </div>
            <div class="form-group">
                <label for="event_location">Event Location Name</label>
                <input class="form-control" type="text" 
                    id="event_location" name="event_location" placeholder="Event Location Name">
            </div>
            <div class="form-group">
                <label for="event_logo">Event Logo</label>
                <input class="form-control" type="file" accept="image/x-png,image/gif,image/jpeg" 
                    id="event_logo" name="event_logo">
            </div>
            <div class="form-group">
                <label for="company_name">Client Name</label>
                <input class="form-control" type="text" 
                    id="company_name" name="company_name" placeholder="Client Name">
            </div>
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input class="form-control" type="email" 
                    id="email" name="email" placeholder="example : client@gmail.com">
            </div>
            <div class="form-group">
                <label for="phone">Contact Number</label>
                <input class="form-control" type="tel" 
                    id="phone" name="phone" placeholder="Contact Number">
            </div>
            <div class="form-group">
                <label for="address">address</label>
                <textarea class="form-control" name="address" id="address" rows="5"></textarea>
            </div>
            <div class="form-group">
                <label for="client_logo">Client Logo</label>
                <input class="form-control" type="file" accept="image/x-png,image/gif,image/jpeg" 
                    id="client_logo" name="client_logo" placeholder="Event Location">
            </div>
            <div class="form-group mt-3 pb-5">
                <button type="submit" class="btn btn-success">
                    Submit
                </button>
            </div>
        </form>
    </div>
<%- include('./includes/end.ejs') %>